.label,
.input {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #1d1f43;
  align-items: center;
  padding: 12px;
  margin: 12px 0px;
  border-radius: 12px;
}

.label {
  text-transform: capitalize;
}
