.switch {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 32px;
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6b6f84;
  border-radius: 24px;
  transition: 0.4s;

  &::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    left: 4px;
    bottom: 5px;
    border-radius: 50%;
    transition: 0.4s;
  }
}

.input:checked + .slider::before {
  left: -1px;
  transform: translateX(30px);
}

.input:checked + .slider {
  background-color: #5b62e4;
  box-shadow: 0px 0px 1px #000;
}
